:root {
  --ff-primary: "Poppins", Arial, sans-serif;
  --ff-secondary: "Roboto";
  --clr-c12: #000000;
  --clr-c11: #131313;
  --clr-c10: #262626;
  --clr-c09: #393939;
  --clr-c08: #4e4e4e;
  --clr-c07: #5c5c5c;
  --clr-c06: #6c6c6c;
  --clr-c05: #7c7c7c;
  --clr-c04: #949494;
  --clr-c03: #b1b1b1;
  --clr-c02: #b1b1b1;
  --clr-c01: #e9e9e9;
  --clr-w: #ffffff;
}

/* Utilitaries */
.container {
  max-width: 1160px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
}

.p-font-xxl {
  font-size: 64px;
  line-height: 1.125;
}
.p-font-sb {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 600;
}
.r-font-m {
  font-family: var(--ff-secondary);
  font-size: 24px;
  line-height: 1.5;
}

.t-detail {
  color: #e5ab0a;
}
.btn {
  color: #663300;
  max-width: fit-content;
  padding: 1rem 2rem;
  background: linear-gradient(180deg, #ffc700 0%, #ff9500 100%);
  display: block;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
}
.mg-b-32 {
  margin-bottom: 2rem;
}
.mg-b-20 {
  margin-bottom: 20px;
}

/* General Styles */
body {
  font-family: var(--ff-primary);
  padding-bottom: 200px;
}

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}
img {
  max-width: 100%;
  display: block;
  border-radius: 4px;
}

/* Header */
.header-bg {
  background: var(--clr-c12);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-menu ul {
  display: flex;
  gap: 2.5rem;
}
.header-menu a {
  color: var(--clr-w);
  font-size: 1.125rem;
  text-transform: capitalize;
  padding: 1.5rem 0px;
  display: inline-block;
  position: relative;
}
.header-menu a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  border-radius: 4px;
  background: var(--clr-w);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}
.header-menu a:hover::after {
  width: 100%;
}

.header-login {
  display: flex;
  gap: 40px;
}
.hamburger {
  display: none;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  z-index: 98;

  background: var(--clr-c10);
  padding-top: 10rem;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 2rem;
  color: var(--clr-w);
  font-size: 1.125rem;
  padding: 12px 24px;
  border-radius: 4px;
  background: var(--clr-c09);
}
#phone {
  width: 32px;
}

.mobile-nav a:hover {
  background: var(--clr-c07);
}

.logo {
  z-index: 99;
}
@media (max-width: 800px) {
  .header-menu {
    display: none;
  }
  .header-login {
    display: none;
  }
  .hamburger {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 99;
  }

  .hamburger .bar,
  .hamburger::after,
  .hamburger::before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: var(--clr-w);
    margin: 6px 0px;
    border-radius: 4px;
    transition: 0.4s;
  }
  .hamburger.is-active::after {
    transform: rotate(-45deg) translate(5px, -9px);
  }
  .hamburger.is-active .bar {
    opacity: 0;
  }
  .hamburger.is-active::before {
    transform: rotate(45deg) translate(7px, 8px);
  }
}

/* Introducation */

.intro-bg {
  background: var(--clr-c12);
  color: var(--clr-w);
  box-shadow: inset 0px -120px var(--clr-w);
}
.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
  gap: 0px 40px;
}
.intro img {
  object-fit: cover;
  height: 100%;
}
.intro-info {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: flex-start;
  margin-bottom: 200px;
}
.intro-info h1 {
  max-width: 15ch;
}

.intro-info p {
  max-width: 52ch;
  color: var(--clr-c03);
}

.intro-info a:hover {
  background: linear-gradient(180deg, #edb900 0%, #d97400 100%);
}

@media (max-width: 1200px) {
  .intro-info h1 {
    font-size: 48px;
  }
  .intro-info p {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .intro-bg {
    background: var(--clr-c11);
    padding-top: 40px;
    box-shadow: inset 0px -60px var(--clr-w);
  }
  .intro {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .intro-info {
    margin-bottom: 0px;
  }
  .intro img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
  .intro-info a {
    margin-left: auto;
    margin-right: auto;
  }
}
