body {
  font-family: var(--ff-primary);
  color: #131313;
}
body.mobile {
  overflow-y: hidden;
}
h1,
h2,
h3,
h4 {
  text-transform: none;
}

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}
img {
  max-width: 100%;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}
