.header-bg {
  background: var(--clr-c12);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-menu ul {
  display: flex;
  gap: 2.5rem;
}
.header-menu a {
  font-size: 1.125rem;
  text-transform: capitalize;
  padding: 1.5rem 0px;
  display: inline-block;
  position: relative;
}
.header-menu a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  border-radius: 4px;
  background: var(--clr-c00);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}
.header-menu a:hover::after {
  width: 100%;
}

.header-login {
  display: flex;
  gap: 40px;
}
.hamburger {
  display: none;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  z-index: 98;
  background: var(--clr-c10);
  padding-top: 10rem;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 180px;
  gap: 8px;
  margin: 0 auto;
  margin-bottom: 2rem;
  font-size: 1.125rem;
  padding: 12px 24px;
  border-radius: 4px;
  background: var(--clr-c09);
}
.mobile-nav li a img {
  width: 32px;
}

.mobile-nav a:hover {
  background: var(--clr-c07);
}

.logo {
  z-index: 99;
}
@media (max-width: 900px) {
  .header-menu {
    display: none;
  }
  .header-login {
    display: none;
  }
  .hamburger {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 99;
  }

  .hamburger .bar,
  .hamburger::after,
  .hamburger::before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: var(--clr-c00);
    margin: 6px 0px;
    border-radius: 4px;
    transition: 0.4s;
  }
  .hamburger.is-active::after {
    transform: rotate(-45deg) translate(5px, -9px);
  }
  .hamburger.is-active .bar {
    opacity: 0;
  }
  .hamburger.is-active::before {
    transform: rotate(45deg) translate(7px, 8px);
  }
}
