.bicicletas {
  padding: 80px 0px;
}
.bikes {
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
#bicicletas .bikes {
  max-width: 1200px;
  display: flex;
}
.bike h3 {
  position: relative;
  z-index: -1;
}
.bike {
  min-width: 280px;
}

.bike h3::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 16px;
  height: 12px;
  background: var(--clr-p01);
  border-radius: 2px;
  z-index: -2;
  top: 4px;
  left: -6px;
}

.bike a img {
  display: block;
  transition: all 0.4s ease-in-out;
}

.bike a img:hover {
  transform: scale(1.4);
  margin-bottom: 8rem;
}

@media (max-width: 1200px) {
  .bike a img {
    transition: none;
  }
  .bike {
    margin-bottom: 16px;
  }
  .bike a img:hover {
    transform: none;
    margin-bottom: 16px;
  }
  .bikes {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 24px;
    overflow-x: auto;
  }
}
@media (max-width: 850px) {
}
