.tech-bg {
  background: var(--clr-c10) url("../../img/dec/bottom-left.svg") no-repeat
    bottom 120px left 20px;
  box-shadow: inset 0px 80px var(--clr-c00), inset 0px -80px var(--clr-c00);
  position: relative;
}
.tech {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.tech-image img {
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.tech-info {
  display: grid;
  justify-items: flex-start;
  padding-top: 160px;
  padding-bottom: 160px;
}
.tech-info h3 {
  padding-top: 72px;
}
.tech-info > a {
  position: relative;
  transition: 0.2s;
}
.tech-info > a::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background: currentColor;
}
.tech-info > a:hover {
  color: var(--clr-c00);
}
.tech-list {
  display: flex;
  gap: 34px;
}
.tech-list-item h4 {
  width: max-content;
}
@media (max-width: 900px) {
  .tech-bg {
    box-shadow: none;
  }
  .tech {
    grid-template-columns: 1fr;
  }
  .tech-info {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .tech-info > span {
    font-size: 1rem;
  }
  .tech-info > h2 {
    font-size: 3rem;
  }
  .tech-info > p {
    font-size: 1.2rem;
  }
  .tech-image img {
    display: none;
  }
}
@media (max-width: 600px) {
  .tech-list {
    flex-direction: column;
  }
}
