.product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  align-items: start;
}
.product-image {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.product-image img {
  flex: 1;
  min-width: 200px;
}
.product-image img:first-child {
  min-width: 100%;
}

.product-content_info {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 12px;
  place-items: start;
  margin-bottom: 56px;
}
.product-content_info p {
  font-weight: 400;
  grid-column: 1 / -1;
}
.product-content_info > div {
  display: grid;
  gap: 8px;
  justify-items: flex-start;
}
.product-content_info div > span {
  display: flex;
  background: var(--clr-c12);
  padding: 4px 8px;
  border-radius: 4px;
  align-items: center;
  gap: 8px;
}
.product-content_info div > span:first-child::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url("/img/icones/entrega.svg");
}
.product-content_info div > span:last-child::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url("/img/icones/estoque.svg");
}

.table h3 {
  text-transform: uppercase;
  margin-bottom: 12px;
}
.table-list {
  background: var(--clr-c12);
  border-radius: 4px;
  padding: 32px;
}
.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.table-list li img {
  width: 24px;
  height: 24px;
}
.table-list li p {
  font-size: 14px;
  font-family: var(--ff-secondary);
  max-width: 25ch;
}
.tecnica {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.tecnica li {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 5px;
}
.tecnica li::after {
  content: "";
  grid-column: 1/-1;
  width: 100%;
  height: 2px;
  background: var(--clr-c11);
}
.tecnica li:last-child::after {
  display: none;
}

/* ************** */
.choice {
  padding-top: 60px;
  padding-bottom: 60px;
}
.choice ul {
  display: flex;
  gap: 40px;
}
.choice img {
  margin-bottom: 8px;
}
.choice li p {
  font-weight: 600;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 4px 8px;
}
.choice li p span {
  grid-column: 2;
  font-weight: 400;
}
.choice li p::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background: var(--clr-p01);
}

/* ********** */
.seguro-bike-bg {
  background: var(--clr-c11);
  box-shadow: inset 0 120px var(--clr-c00), inset 0 -120px var(--clr-c12);
}
.seguro-bike {
  max-width: 1400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.seguro-bike-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.seguro-bike-content {
  padding: 180px 0;
}
.seguro-bike-content p {
  font-weight: 400;
  max-width: 60ch;
}
@media (max-width: 900px) {
  .product {
    grid-template-columns: 1fr;
  }
  .product-image {
    grid-row: 2;
  }
  .title h1 {
    margin-bottom: 32px;
  }
  .seguro-bike-bg {
    box-shadow: inset 0 -120px var(--clr-c12);
  }
  .seguro-bike {
    grid-template-columns: 1fr;
  }
  .seguro-bike-image {
    grid-row: 2;
  }
  .seguro-bike-image img {
    max-height: 400px;
  }
  .seguro-bike-content {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}
@media (max-width: 450px) {
  .info {
    grid-template-columns: 1fr;
  }
  .product-content_info a {
    grid-column: 1/-1;
    margin-bottom: 8px;
  }
  .product-content_info {
    margin-bottom: 24px;
  }
  .seguro-bike h2 {
    font-size: 3rem;
  }
}
